<div class="announcement-bar" role="banner">
  🚚 Envío gratis en pedidos mayores a $599 &nbsp;·&nbsp; 🐾 Más de 500 productos para tu mascota &nbsp;·&nbsp; ⭐ Calificación 4.9/5 de nuestros clientes
</div>
